{{template "base" .}}

{{define "title"}}Add a New Item{{end}}

{{define "main"}}
<form action="/item/new" method="POST">
    <input type="hidden" name="csrf_token" value='{{.CSRFToken}}'>
    {{with .Form}} <fieldset>
        <div>
            <fieldset>
                {{with .Errors.Get "itemName"}}
                <label class="error">{{.}}</label>
                {{end}}
                <input placeholder="Part Name" type="text" name="itemName" value='{{.Get "itemName"}}'>

            </fieldset>
            <fieldset>
                <input placeholder="Part Number" type="text" name="partNum" value='{{.Get "partNum"}}'>
            </fieldset>
        </div>
        <div>
            <fieldset>
                {{with .Errors.Get "description"}}
                <label class="error">{{.}}</label>
                {{end}}
                <textarea placeholder="Part Description" name="description" value='{{.Get "description"}}'></textarea>
            </fieldset>
        </div>
        <div>
            <fieldset>
                {{with .Errors.Get "numOnHand"}}
                <label class="error">{{.}}</label>
                {{end}}
                <input placeholder="Number on Hand" type="number" name="numOnHand" step="1"
                    value=' {{.Get "numOnHand"}}'>
            </fieldset>
        </div>
        <div>
            <fieldset>
                {{with .Errors.Get "site"}}
                <label class="error">{{.}}</label>
                {{end}}
                <input placeholder="Site (Ship or Wearhouse)" type="text" name="site" value='{{.Get "site"}}'>
                {{with .Errors.Get "space"}}
                <label class="error">{{.}}</label>
                {{end}}
                <input placeholder="Space" type="text" name="space" value='{{.Get "space"}}'>
                <input placeholder="Drawer" type="text" name="drawer" value='{{.Get "drawer"}}'>
            </fieldset>
        </div>
        <div>
            <input type="submit" value="Add Item">
        </div>
    </fieldset>
    {{end}}
</form>
{{end}}