{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
<h2>Oldest Items</h2>
{{if .Items}}
<table>
    <tr>
        <th>Part Number</th>
        <th>Item Name</th>
        <th>Last Inventory</th>
    </tr>
    {{range .Items}}
    <tr>
        <td><a href='/item/{{.ID}}'>{{.PartNum}}</a></td>
        <td><a href='/item/{{.ID}}'>{{.ItemName}}</a></td>
        <td>{{humanDate .LastInventory}}</td>
    </tr>
    {{end}}
</table>
{{else}}
<p>There's nothing to see here...yet!</p>
{{end}}
{{end}}