{{template "base" .}}

<!-- TODO: Change this to Manufacturer - PN -->
{{define "title"}} Item #{{.Item.ID}}{{end}}

{{define "main"}}
{{with .Item}}
<div class='item'>
    <div class="metadata">
        <strong>{{.ItemName}}</strong>
        <span>#{{.PartNum}}</span>
    </div>
    <pre><code>{{.Description}}</code></pre>
    <div class="location">
        <b>Site:</b> {{.Site}} <b>Space:</b> {{.Space}} <b>Drawer:</b> {{.Drawer}}
    </div>
    <div class="metadata">
        <time><b>Last Inventory: </b>{{humanDate .LastInventory}}</time>
    </div>
</div>
{{end}}
{{end}}